<h2 class="siemens-text">Brands</h2>

<table class="table">
<%= for brand <- @brands do %>
    <tr>
      <td>
        <%= link brand.name, to: short_phone_path(@conn, :index, brand.id) %>
      </td>
    </tr>
<% end %>
</table>
