<h2>Edit phone edition</h2>

<%= render "form.html", changeset: @changeset,
                        action: phone_edition_path(@conn, :update, @phone_edition) %>

<%= link "Back", to: phone_edition_path(@conn, :index) %>
