<h2>New phone edition</h2>

<%= render "form.html", changeset: @changeset,
                        phone: @phone,
                        action: catalog_phone_edition_path(@conn, :create, @brand.id, @phone.id) %>

<%= link "Back", to: catalog_phone_path(@conn, :show, @brand.id, @phone.id) %>
