<div class='breadcrumbs'>
  <%= link "Brands >", to: Routes.brand_path(@conn, :index) %>
  <%= link "#{@brand.name}", to: Routes.catalog_phone_path(@conn, :index, @brand.id) %>
</div>

<h2>New phone</h2>

<%= render "form.html", changeset: @changeset,
                        brand: @brand,
                        brands: nil,
                        series: @series,
                        action: Routes.catalog_phone_path(@conn, :create, @brand.id) %>
