<h2>Edit</h2>

<%= render "form.html", changeset: @changeset,
                        brand: @brand,
                        action: short_phone_path(@conn, :update, @brand.id, @phone) %>

<div class="footer_buttons">
  <%= link "Back", to: short_phone_path(@conn, :index, @brand.id), class: "siemens-text" %>
</div>