<h2>Edit</h2>

<%= render "form.html", changeset: @changeset,
                        brand: @brand,
                        action: catalog_phone_path(@conn, :update, @brand.id, @phone) %>

<div class="footer_buttons">
  <%= link "Back", to: catalog_phone_path(@conn, :show, @brand.id, @phone), class: "siemens-text" %>
</div>