<h2>New phone</h2>

<%= render "form.html", changeset: @changeset,
                        brand: @brand,
                        action: short_phone_path(@conn, :create, @brand.id) %>

<%= link "Back", to: short_phone_path(@conn, :index, @brand.id) %>
