/* Base styles */
*, *:after, *:before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: white;
  color: #777;
}
img {
  vertical-align: middle;
  max-width: 100%;
}

/* Container */
.addict.container {
  position: absolute;
  width: 24em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* Profile Card */
/* Based on http://codepen.io/andrejmlinarevic/full/NGGdVv/ */
.addict.modal {
  position: relative;
}

.addict.modal__form {
  visibility: visible;
  height: auto;
  opacity: 1;
  top: -6em;
  padding-top: 12em;
}
.addict.modal__fields {
  opacity: 1;
}
.addict.modal__avatar {
  border-radius: 50%;
}
.addict.modal__form {
  position: relative;
  background: white;
  padding: 3em;
  border-radius: .25em;
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
}

/* Form */
.addict.field {
  position: relative;
  margin-bottom: 2em;
}
label.addict {
  position: absolute;
  height: 1.7rem;
  line-height: 2rem;
  bottom: 0;
  font-size: 0.75rem;
  color: rgb(86,152,150);
  top: -80%;
  left: 0;
}
.addict.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  color: #777;
}
.addict.input:focus {
  outline: 0;
  border-color: #ccc;
}

/* Button */
.addict.btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: rgb(86,152,150);
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
}
.addict.btn:focus {
  outline: 0;
}
.addict.btn:hover,
.addict.btn:focus {
  background: #000;
}
h1 {
  color: rgb(86,152,150);
  font-size: 100px;
}

.addict a {
  text-decoration: none;
  color: #777;
  font-size: 80%;
}

.addict a:hover {
  color: #000;
}

.addict.error-message {
  margin-bottom: 0;
  margin-top: 0;
  color: #F00;
  font-size: 80%;
}

/*body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  color: #777;
}

.addict.container {
    position: absolute;
    width: 24em;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.addict.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.addict.field-whole {
  flex-basis: 100%; }

.addict.field-half {
  flex-basis: 48.75%; }

.addict.form-container {
    position: relative;
    background: #DEDEDE;
    padding: 3em;
    border-radius: .25em;
    -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
    transition: opacity .4s ease-in-out, height .4s ease-in-out, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.addict input[type="text"],
.addict input[type="password"] {
  width: 16em;
  padding: 1em;
  border: none;
  border-bottom: solid 3px #c9c9c9;
  transition: border 0.3s;
}

.addict input[type="text"]:focus,
.addict input[type="password"]:focus,
.addict input[type="password"].focus,
.addict input[type="text"].focus {
  outline: transparent;
  border-bottom: solid 3px #969696;
}































*/