<h2>Edit item</h2>

<%= render "form.html", changeset: @changeset,
                        phone_editions: @phone_editions,
                        action: short_item_path(@conn, :update, @user, @item) %>

<div class="footer_buttons">
  <%= link "Back", to: short_item_path(@conn, :show, @user, @user), class: "siemens-text" %>
</div>