<div class='breadcrumbs'>
  <%= link "Collections >", to: collections_collection_path(@conn, :index), data: [push: true] %>
  <%= link "#{@user.name} >", to: collections_item_path(@conn, :index, @user), data: [push: true] %>
  <%= "Add to collection" %>
</div>

<%= render "form.html", changeset: @changeset,
                        phone_editions: @phone_editions,
                        action: collections_item_path(@conn, :create, @user) %>
