<h2>New item</h2>

<%= render "form.html", changeset: @changeset,
                        phone_editions: @phone_editions,
                        action: collections_item_path(@conn, :create, @user) %>

<div class="footer_buttons">
  <%= link "Back", to: collections_item_path(@conn, :index, @user), class: "siemens-text" %>
</div>